<main class="main">
  <div class="main__input-group">
    <label class="main__label" for="birthday_input">дата рождения</label>
    <input
      id="birthday_input"
      type="tel"
      class="main__input"
      maxlength="8"
      required
    />
    <button class="main__btn">далее</button>
  </div>
  <div class="main__square square">
    <button class="square__button main__btn">еще раз</button>
    <ul class="square__list">
      <li class="square__item square__header-item">
        <p>число судьбы</p>
        <span>6</span>
        <p>Дата рождения 02.06.1996</p>
        <p>Доп числа 33 6 29 11</p>
      </li>
      <li class="square__item">
        <p>темперамент</p>
        <span>2</span>
      </li>
      <li class="square__item">
        <p>характер</p>
        <span>111</span>
      </li>
      <li class="square__item">
        <p>здоровье</p>
        <span>-</span>
      </li>
      <li class="square__item">
        <p>удача</p>
        <span>-</span>
      </li>
      <li class="square__item">
        <p>цель</p>
        <span>3</span>
      </li>
      <li class="square__item">
        <p>энергия</p>
        <span>22</span>
      </li>
      <li class="square__item">
        <p>логика</p>
        <span>-</span>
      </li>
      <li class="square__item">
        <p>долг</p>
        <span>-</span>
      </li>
      <li class="square__item">
        <p>семья</p>
        <span>2</span>
      </li>
      <li class="square__item">
        <p>интерес</p>
        <span>33</span>
      </li>
      <li class="square__item">
        <p>труд</p>
        <span>666</span>
      </li>
      <li class="square__item">
        <p>память</p>
        <span>999</span>
      </li>
      <li class="square__item">
        <p>стабильность</p>
        <span>8</span>
      </li>
      <li class="square__item">
        <p>самооценка</p>
        <span>7</span>
      </li>
      <li class="square__item">
        <p>быт</p>
        <span>3</span>
      </li>
      <li class="square__item">
        <p>талант</p>
        <span>3</span>
      </li>
      <li class="square__item">
        <p>духовное</p>
        <span>6</span>
      </li>
    </ul>
    <p class="summtext">111/22/33/-/-/666/-/-/999/чс6</p>
    <!-- <input type="text" class="copytext" /> -->
  </div>
</main>
