<main class="main">
  <div class="main__input-group">
    <label class="main__label" for="birthday_input">дата рождения</label>
    <input
      id="birthday_input"
      type="tel"
      class="main__input"
      minlength="8"
      maxlength="8"
      required
    />
    <button class="main__btn">далее</button>
  </div>
  <div class="main__square square">
    <button class="square__button main__btn">еще раз</button>
    <ul class="square__list">
      <li class="square__item square__header-item">
        <p>число судьбы</p>
        <span></span>
        <p>Дата рождения</p>
        <p>Доп числа</p>
      </li>
      <li class="square__item">
        <p>темперамент</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>характер</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>здоровье</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>удача</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>цель</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>энергия</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>логика</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>долг</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>семья</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>интерес</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>труд</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>память</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>стабильность</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>самооценка</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>быт</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>талант</p>
        <span></span>
      </li>
      <li class="square__item">
        <p>духовное</p>
        <span></span>
      </li>
    </ul>
    <p class="summtext"></p>
    <!-- <input type="text" class="copytext" /> -->
  </div>
</main>
