<header class="header">
  <div></div>
  <nav class="header__nav">
    <ul class="header__menu">
      <li class="header__menu-item header__menu-item--active">
        <button class="header__menu-btn">Главная</button>
      </li>
      <li class="header__menu-item">
        <button class="header__menu-btn">Услуги</button>
      </li>
      <li class="header__menu-item">
        <button class="header__menu-btn">Статьи</button>
      </li>
      <li class="header__menu-item">
        <button class="header__menu-btn">Контакты</button>
      </li>
    </ul>
  </nav>
  <div></div>
</header>
