<footer class="footer">
  <div class="footer__contacts">
    <p class="footer__phone">Телефон</p>
  </div>

  <div class="footer__social social">
    <ul class="social__list">
      <li class="social__item social__item--vk">
        <a href="https://vk.ru/lyka17" class="social__link" target="_blank">
          <svg class="social__icon">
            <use href="./src/assets/svg/sprite.svg#icon-vk"></use>
          </svg>
        </a>
      </li>
      <li class="social__item social__item--instagram">
        <a
          href="https://www.instagram.com/juliya__moiseeva/"
          class="social__link"
          target="_blank"
        >
          <svg class="social__icon">
            <use href="./src/assets/svg/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item social__item--telegram">
        <a
          href="https://t.me/juliya_moiseeva"
          class="social__link"
          target="_blank"
        >
          <svg class="social__icon">
            <use href="./src/assets/svg/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="footer__law">
    <a href="" class="footer__law-link" target="_blank"
      >Политику конфиденциальности</a
    >
    <a href="" class="footer__law-link" target="_blank"
      >Пользовательское соглашение</a
    >
    <a href="" class="footer__law-link" target="_blank">Оферта</a>
  </div>
</footer>
