.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  @include respond("tablet") {
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
  }

  &__law {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
  }

  &__contacts {
    width: 33%;
    text-align: center;
  }
}

.social {
  width: 33%;

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem;
  }
  &__item {
    padding: 0 1rem;
  }
}
