$primary-color: #88ada6;
// — Основной акцент
$secondary-color: #aee8e4;
// — Вторичный цвет
$btnText-color: #1a3a35;
// — Цвет текста для кнопок
$mainText-color: #ffffff;
// — Основой цвет текста
$paragraph-color: #e6f7f4;
// — Цвет для загаловков
$secondary: #6b8e88;
